@import 'tailwindcss';

@config '../tailwind.config.ts';

h1,
h2,
h3,
.poppins {
	font-family: 'Poppins' sans-serif;
}

.dockerButton {
	border-color: var(--color-blue-500) !important;
}

.badgeLinkLatest {
	margin-right: 5px;
	min-width: 40px;
	min-height: 25px;
	color: var(--color-emerald-500);
	border-color: var(--color-emerald-500);
	font-family: 'Poppins' sans-serif;
}

.badgeLink {
	margin-right: 5px;
	min-width: 40px;
	min-height: 25px;
	font-family: 'Poppins' sans-serif;
}

@layer base {
	:root {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;

		--radius: 0.5rem;

		overflow: hidden;
	}

	.dark {
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	button{
		@apply cursor-pointer;
	}
}
